{{#section 'title'}}
	Delete Category
{{/section}}

<div style="padding-top:15px">
<form action="" method="POST" role="form">
	<input type="hidden" id="" name="CatId" value="{{CatId}}">	
	<button type="submit" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>
</form>
</div>