.col-md-10 .kieu-toc .choose{
	width: 562px;
	height: 300px;
	float: left;
}
#tocxu{
	background-image: url(img/tocxu.jpg);
	background-size: 562px 300px;
	text-align: center;
} 
.choose-2{
	background-image: url(img/tocxu.jpg);
} 
.choose-3{
	background-image: url(img/tocxu.jpg);
} 
.choose-4{
	background-image: url(img/tocxu.jpg);
} 
.choose-5{
	background-image: url(img/tocxu.jpg);
} 
.choose-6{
	background-image: url(img/tocxu.jpg);
} 
.choose-7{
	background-image: url(img/tocxu.jpg);
} 
.choose-8{
	background-image: url(img/tocxu.jpg);
} 
.choose-9{
	background-image: url(img/tocxu.jpg);
} 
.choose-a{
	background-image: url(img/tocxu.jpg);
} 
